/* 2018 Copyright Nay Linn Oo */
/* MIT LICENSE */

/* 
Project À La Mode

Created by Nay Linn Oo
Created on September 2018
Written under Elemental LLC
*/

/* Color */
/* Monotone Colors */

.color-white{
    color:white;
}

.color-black{
    color:black;
}

/* Primary Colors */

.color-red{
    color:red;
}

.color-blue{
    color:blue;
}
.color-green{
    color:green;
}
//fuck this shit i am out
